body {
  font-family: "Nunito", sans-serif;
  padding: 30px;
}
h1 {
  font-size: 17px;
  padding: 20px 0px 20px 0px;
  margin: 0 auto;
}

.fivedayslist {
  display: block;
  text-align: center;
  list-style-type: none;
  color: rgb(138, 138, 138);
  font-size: 17px;
  margin-top: 18px;
  max-width: 170px;
}
.mb-3 {
  margin: 0px 0px 0px 17px;
}
button {
  margin: 0px 0px 0px 17px;
}

.temp-min {
  color: rgb(180, 178, 178);
}
.temp-value {
  font-size: 40px;
}
.col-3 {
  padding: 0px;
}
.city {
  font-size: 35px;
  padding: 0px;
}

.precipitation,
.wind {
  font-size: 14px;
  padding: 0;
  text-align: center;
  display: block;
  position: relative;
  top: 10px;
}

.weather-app {
  border: 1px solid rgb(167, 165, 165);
  border-radius: 10px;
  padding: 15px 0px 0px 0px;
}
.units {
  position: relative;
  top: -10px;
  font-size: 25px;
}

.open-source {
  padding: 10px;
  font-size: 12px;
}
.source {
  text-decoration: none;
}
.weather-app-wrapper {
  margin: 20px;
  max-height: 365px;
  max-width: 650px;
}

.col-4 {
  text-align: center;
}
.main-icon {
  position: relative;
  top: -27px;
}
.icon {
  position: relative;
  top: -8px;
}
