body {
  font-family: "Nunito", sans-serif;
  padding: 30px;
}
h1 {
  font-size: 17px;
  padding: 20px 0px 20px 0px;
  margin: 0 auto;
}
h2 {
  font-size: 40px;
  text-align: center;
}
h3 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  color: #5c636a;
}

.fivedayslist {
  display: block;
  text-align: center;
  list-style-type: none;
  color: rgb(167, 165, 165);
  display: block;
  font-size: 20px;
  margin-top: 20px;
  max-width: 170px;
}
.form {
  margin: 0 auto;
  padding: 0;
}
.icon {
  color: #5c636a;
}
.temp-forcast-max {
  color: #111214;
}
.col-3 {
  padding: 0px;
}
.city {
  font-size: 35px;
  padding: 0px;
}
.main-icon {
  font-size: 60px;
  margin-top: 0px;
}
.precipitation {
  font-size: 15px;
  padding: 0;
  text-align: left;
}
.wind {
  font-size: 15px;
  padding: 0;
}
.fa-umbrella {
  padding-top: 10px;
  font-size: 25px;
}
.weather-app {
  border: 1px solid rgb(167, 165, 165);
  border-radius: 10px;
  padding: 15px;
}
.units {
  position: relative;
  top: -10px;
  font-size: 15px;
  font-size: 15px;
}

.open-source {
  padding: 10px;
  font-size: 12px;
}
.source {
  text-decoration: none;
}
.weather-app-wrapper {
  margin: 20px;
  max-height: 365px;
  max-width: 650px;
}
.active {
  color: #5c636a;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
